<form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value )">
  <input type="text" placeholder="Enter the Name" name="name" formControlName="user"><br><br>

<span style="color: red;" *ngIf="users && users.invalid && users.touched">this field is not valid</span>
<br>
<br>
  <input type="text" placeholder="Enter the passWord" name="passWord" formControlName="password">
  <br>
  <br>
  <span style="color: red;" *ngIf="pass && pass.invalid && pass.touched">Enter valid input</span>
  <br>
  <br>
  <button [disabled]="loginForm.invalid">Submit</button>
</form> 
